In [2]:
#Importing packages
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pyspark.sql.functions as func

In [4]:
#Creating Spark Session
spark = SparkSession.builder.appName("FirstApp").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/07/11 12:25:13 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [28]:
#Define Schema for Dataframe
myschema = StructType([\
    StructField("userID",IntegerType(),True),
    StructField("name",StringType(),True),
    StructField("age",IntegerType(),True),
    StructField("friends",IntegerType(),True)
    
])

In [30]:
#Creating Dataframe on CSV
people = spark.read.format("CSV")\
    .schema(myschema)\
    .option("path","fakefriends.csv")\
    .load()

In [32]:
#Performaing all transformation
output = people.select(people.userID,people.name\
                       ,people.age,people.friends)\
    .where(people.age<30).withColumn('insert_ts',func.current_timestamp())\
    .orderBy(people.userID)

In [34]:
#Creating a count O/P Dataframe
output.count()

112

In [36]:
#Creating a temp view
output.createOrReplaceTempView("people")

In [42]:
#Running a simple Spark SQL query
spark.sql("select name,age,friends,insert_ts from people").show()

+--------+---+-------+--------------------+
|    name|age|friends|           insert_ts|
+--------+---+-------+--------------------+
|Jean-Luc| 26|      2|2024-07-11 12:42:...|
|    Hugh| 27|    181|2024-07-11 12:42:...|
|  Weyoun| 22|    323|2024-07-11 12:42:...|
|   Miles| 19|    268|2024-07-11 12:42:...|
|  Julian| 25|      1|2024-07-11 12:42:...|
|     Ben| 21|    445|2024-07-11 12:42:...|
|  Julian| 22|    100|2024-07-11 12:42:...|
|     Nog| 26|    281|2024-07-11 12:42:...|
| Beverly| 27|    305|2024-07-11 12:42:...|
|    Morn| 25|     96|2024-07-11 12:42:...|
|   Brunt| 24|     49|2024-07-11 12:42:...|
|     Nog| 20|      1|2024-07-11 12:42:...|
| Beverly| 19|    269|2024-07-11 12:42:...|
|   Brunt| 19|      5|2024-07-11 12:42:...|
|  Geordi| 20|    100|2024-07-11 12:42:...|
|  Geordi| 21|    477|2024-07-11 12:42:...|
|  Kasidy| 22|    179|2024-07-11 12:42:...|
|   Brunt| 20|    384|2024-07-11 12:42:...|
|     Ben| 28|    311|2024-07-11 12:42:...|
|    Worf| 24|    492|2024-07-11 12:42:...|
+--------+---+-------+--------------------+
only showing top 20 rows