In [50]:
#Importing spark session
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [52]:
spark = SparkSession\
.builder\
.appName("sparksql")\
.getOrCreate()

In [54]:
print(spark.version)

3.5.1

In [56]:
data = spark.read.format('csv')\
.option('inferSchema','true')\
.option('header','true')\
.option('path','operations_management.csv')\
.load()

In [58]:
data.printSchema()

root
 |-- description: string (nullable = true)
 |-- industry: string (nullable = true)
 |-- level: integer (nullable = true)
 |-- size: string (nullable = true)
 |-- line_code: string (nullable = true)
 |-- value: integer (nullable = true)

In [60]:
#Using dataFrame API and it's transfomations
data_2 = data.select("industry","value")\
.filter((col("value") > 200) & (col("industry") != "total"))\
.orderBy(desc("value"))

In [62]:
data_2.printSchema()

root
 |-- industry: string (nullable = true)
 |-- value: integer (nullable = true)

In [64]:
data_2.show(10)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
|        Construction| 4959|
|Accommodation & f...| 4950|
|        Construction| 4686|
|        Construction| 4668|
|        Construction| 4665|
+--------------------+-----+
only showing top 10 rows

In [74]:
#Using Spark SQL funcation to submit SQL query, by creating a temporary view on top data
data_2.createOrReplaceTempView("data")

In [72]:
spark.sql("""SELECT industry,value 
FROM data 
WHERE 
value > 200 AND industry != "total"
""").show(5)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
+--------------------+-----+
only showing top 5 rows